.phone {
  text-align: right;
  padding: 5px 25px;
  margin-top: 25px;
 
  a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    
  }
  @media screen and (max-width: 400px){
    a {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 400px){
  .phone {
    padding-top: 7px;
  }
}