.wrapper {
  min-height: 100%;
  position: relative;
}

.main {
  padding-bottom: 90px;
  box-sizing: border-box;
  min-height: 100vh;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}