.section-form-left {
  width: 50%;
  background-color: #222;
  padding: 3% 0% 5%;

  margin-bottom: 0px;
  @media screen and (max-width: 1200px){
    width: 100%;
    margin-bottom: 0;
  }
  
  
  .our-team-wrap {
    overflow: hidden;
  }

  .our-team {
    font-family: 'Comfortaa', sans-serif;
    font-size: 46px;
    line-height: 55px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: -9%;
    margin-bottom: 20px;
    padding-left: 17%;
    padding-right: 8%;    
    opacity: 0;
    @media screen and (max-width: 1327px){
      font-size: 32px;
    }
  }

  .video-form-wrap {
    position: relative;
  }

  .video-form-before {
    width: 100%;
    height: 100%;
    background-color: #222;
    position: absolute;
    z-index: 100;
  }
  
  .video-form {
    width: 100%;
    padding-right: 13%;
    padding-left: 13%;
  }

  .our-team-link {
    font-family: 'Comfortaa', sans-serif;
    font-size: 17px;
    line-height: 23px;
    color: #fff;

    text-decoration: none;

    text-align: right;
    display: block;

    text-transform: uppercase;

    margin: 25px 55px 0px 10px;
  }
}

.section-form-right {
  width: 50%;

  margin-bottom: 0px;
  position: relative;
  @media screen and (max-width: 1200px){
    width: 100%;
    margin-bottom: 50px;

  }

  .section-form-right-top-before {
    width: 80%;
    height: 40%;
    position: absolute;
    background-color: #343434;
    z-index: 100;
    @media screen and (max-width: 1490px){
      height: 47%;
      
    }
  }

  .section-form-right-top {
    width: 100%;
    height: 50%;
    background-color: #343434;
    padding: 5% 8%;
    @media screen and (max-width: 1490px){
      padding: 2% 8%;
    }
    @media screen and (max-width: 1200px){
      padding: 5% 8%;
      height: 70%;
    }
    @media screen and (max-width: 347px){
      padding: 5% 4%;
      
    }

    .form-tel {
      margin-bottom: 65px;
      margin-top: 45px;
      @media screen and (max-width: 1740px){
        margin-top: 15px;
      }


      .form-tel-title {
        font-family: 'Comfortaa', sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #fff;
        margin-bottom: 15px;
      }

      a {
        font-family: 'Ubuntu', sans-serif;
        font-size: 25px;
        font-weight: 300;

        color: #fff;
        text-decoration: none;
        padding: 4px 25px 4px 0px;
        @media screen and (max-width: 571px){
          display: block;
          margin-bottom: 8px;
        }
      }
    }

    .form-social {
      position: relative;
      @media screen and (max-width: 1200px){
        margin-bottom: 20px;
      }

      .form-social-title {
        font-family: 'Comfortaa', sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #fff;
        margin-bottom: 15px;
      }

      a {
        display: inline-block;
        vertical-align: middle;
      }
      .first-icon {
        margin-left: -8px;
      }
    }
  }

  .section-form-right-bottom-before {
    width: 90%;
    height: 40%;
    position: absolute;
    background-color: #474747;
    z-index: 100;
  }

  .section-form-right-bottom {
    width: 100%;
    height: 50%;
    padding: 5% 8%;

    background-color: #474747;
    @media screen and (max-width: 347px){
      padding: 5% 4%;
      
    }   
  }
  
}