.section-faq {
  width: 100%;
  margin-bottom: 110px;

  .section-faq-title {
    font-family: 'Comfortaa', sans-serif;
    font-size: 33px;
    line-height: 38px;
    color: #222;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;

    margin-top: 110px;

    margin-bottom: 80px;
  }
}