.footer-bg {
  background-color: #222;

  h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    line-height: 23px;
    color: #fff;
    font-weight: 300;
    margin: 0;
    padding: 7px;

    text-align: center;
  }
}