@import "assets/scss/normalize";
@import "assets/scss/grid";

// fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Nunito');


html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba( 0,0,0,0.1 ); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
